
<ion-content [fullscreen]="true">  

  <div id="container">
    <strong>Bienvenido </strong>
    <p>Aqui estan tus <a target="_blank" rel="noopener noreferrer" >Bookings</a></p>    
    <!--
    <ion-item>
      <ion-input type="text" placeholder="Filtra aqui" [(ngModel)]="filter" (input)="filterItem(filter)"></ion-input>
    </ion-item>
    -->
    <ion-searchbar
      [(ngModel)]="searchTerm"
      (ionChange)="filterItems()">
    </ion-searchbar>

    <ion-grid>
      <ion-row>
        <ion-col size="2" class="bgcolor">
          <div>
            BookingId
          </div>
        </ion-col>
        <ion-col size="2" class="bgcolor">
          <div>
            Cliente
          </div>
        </ion-col>
        <ion-col size="3" class="bgcolor">
          <div>
            Fecha de Creación
          </div>
        </ion-col>
        <ion-col size="3" class="bgcolor">
          <div>
            Dirección
          </div>
        </ion-col>
        <ion-col size="2" class="bgcolor" (click)="sortPrice()"> 
          <div>
            Precio
          </div>
        </ion-col>
      </ion-row>
      <ion-row *ngFor="let item of filterBookings">
        <ion-col size="2">
          <div>
            {{item.bookingId}}
          </div>
        </ion-col>
        <ion-col size="2">
          <div>
            {{item.tutenUserClient.firstName}} {{item.tutenUserClient.lastName}}
          </div>
        </ion-col>
        <ion-col size="3">
          <div>
            {{ item.bookingTime | date:'dd/MM/yyyy' }}
          </div>
        </ion-col>
        <ion-col size="3">
          <div>
            {{item.locationId.streetAddress}}
          </div>
        </ion-col>
        <ion-col size="2"> 
          <div>
            {{item.bookingPrice}}
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-button size="large" type="submit" expand="block" (click)="logout()">Logout</ion-button>
  </div>

</ion-content>
